 /* body {
     background-color: white;
     margin-top: 20px;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 5px;
     font-family: "Century Gothic", CenturyGothic, AppleGothic;
 } */

 